.form{
    width: 90%;
    align-items: center;
}
div{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 20px;
}
.div-button{
    justify-content: center;
}
.button{
    padding: 0 50px;
}